<!--
______ _     _             _     _       
| ___ (_)   | |           | |   (_)      
| |_/ /_ ___| |_ __ _  ___| |__  _  ___  
|  __/| / __| __/ _` |/ __| '_ \| |/ _ \ 
| |   | \__ | || (_| | (__| | | | | (_) |
\_|   |_|___/\__\__,_|\___|_| |_|_|\___/ 
     _____ _             _ _             
    /  ___| |           | (_)            
    \ `--.| |_ _   _  __| |_  ___        
     `--. | __| | | |/ _` | |/ _ \       
    /\__/ | |_| |_| | (_| | | (_) |      
    \____/ \__|\__,_|\__,_|_|\___/       
-->

<!DOCTYPE html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5W20EVMG6T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-5W20EVMG6T');
    </script>

    <meta charset="utf-8" />
    <!-- TITLE & META DESCRIPTION -->
    <title>{{title}}</title>
    <meta name=”description“ content="@description" />
    <!-- SNS LINK PREVIEW METADATA OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pistachio Studio" />
    <meta property="og:description" content="Neighborhood recording crew Kngw, Japan." />
    <meta property="og:url" content="https://pistachiostudio.net/" />
    <meta property="og:image" content="https://pistachiostudio.net/og_image_banana_maru.png" />
    <!-- FAVICON MAY BE NEED ABSOLUTE PATH -->
    <link rel="icon" sizes="16x16" href="favicon.ico" />
    <link rel="icon" sizes="32x32" href="favicon.ico" />
    <link rel="icon" sizes="48x48" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="manifest" href="manifest.json" />
    <!-- CSS IMPORT -->
    <link rel="stylesheet" href="css/mforblue_vhs.css" />
    <link rel="stylesheet" href="css/mforblue_style.css" />
    <link rel="stylesheet" href="css/dot/cc_cat_dot_mforblue.css" />
    <!-- GOOGLE FONT IMPORT FROM CDN -->
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
    <!-- VIEWPORT FOR RESPONSIVE -->
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    <!-- BACKGROUND LINE NOISE -->
    <div class="lines"></div>

    <!-- LEFT TOP DOT ICON, IF YOU WANT EDIT SEE "dot.css" -->
    <div class="cc_cat_dot_mforblue"></div>


    <!-- MAIN RGB NOISE -->
    <div class="main">
        <div class="noise"></div>
        <div class="vhs">

            <!-- TOP INFORMATION -->
            <div class="doggo">*</div>
            <span class="typew">Theme: Meditation for blue</span>

            </span>

            <h1>
                <a id="title" href="/">Pistachio Studio!</a>
            </h1>

            <h2 class="typek">Neighborhood recording crew from kngw, Japan.
            </h2>
            <!-- SOCIAL ICONS USING FONT AWESOME -->
            <ul class="social">
                <li>
                    <a id="social" href="https://instagram.com/pistachiostudio" target="_blank"><i
                            class="fa-brands fa-instagram fa-shake"></i></a>
                </li>
                <li>
                    <a id="social" href="https://x.com/pstchstd" target="_blank"><i
                            class="fa-brands fa-x-twitter fa-shake"></i></a>
                </li>
                <li>
                    <a id="social" href="https://www.youtube.com/c/pistachiostudiokngw" target="_blank">
                        <i class="fa-brands fa-youtube fa-shake"></i></a>
                </li>
                <li>
                    <a id="social" href="https://soundcloud.com/pistachio-studio" target="_blank">
                        <i class="fa-brands fa-soundcloud fa-shake"></i></a>
                </li>
                <li>
                    <a id="social"
                        href="https://open.spotify.com/user/2wf7ulo34ef46fu3awnq984wj?si=mm3fQfatR1OF2Kgr_uieGw"
                        target="_blank"><i class="fa-brands fa-spotify fa-shake"></i></a>
                </li>
                <li>
                    <a id="social" href="https://discord.gg/pistachiogaming" target="_blank">
                        <i class="fa-brands fa-discord fa-shake"></i></a>
                </li>
                <li>
                    <a id="social" href="https://github.com/pistachiostudio" target="_blank">
                        <i class="fa-brands fa-github fa-shake"></i></a>
                </li>
                <li>
                    <a id="social" href="/social"><i class="fa-sharp fa-solid fa-share-nodes fa-shake"></i></a>
                </li>
                <li>
                    <a id="social" href="/contact"><i class="fa-regular fa-envelope fa-shake"></i></a>
                </li>
            </ul>

            <!-- @CONTENTS -->
            {{{contents}}}
            <!-- /@CONTENTS -->

            <!-- JQUERY IMPORT FROM CDN HOSTED BY GOOGLE -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

            <!-- TYPEWRITER EFFECT JS IMPORT -->
            <script src="./js/t.js"></script>
            <!-- <script src="https://pistachiostudio.github.io/pistachio-on-vss/js/t.js"></script> -->

            <!-- H2 CLASS "typek" TYPEWRITER EFFECT SETTINGS -->
            <script>
                $(function () {
                    $(".typek").t({
                        caret: '<span style="color:pink;">•</span>',
                        speed: 25,
                        beep: false,
                        mistype: 10,
                        locale: "en",
                        speed_vary: true,
                        blink: true,
                        delay: 1.4,
                    });
                });
            </script>

            <!-- SPAN CLASS "typew" TYPEWRITER EFFECT SETTINGS
    (TOP MESSAGE) -->
            <script>
                $(function () {
                    $(".typew").t({
                        caret: '<span style="color:pink;">]</span>',
                        speed: 10,
                        beep: false,
                        mistype: false,
                        locale: "en",
                        speed_vary: true,
                        blink: true,
                        delay: 0.1,
                    });
                });
            </script>

            <!-- FOOTER & COPYRIGHT SCRIPT -->
            <div class="footer">
                Acknowledgments: <a href="https://github.com/vssio" target="_blank">VSS</a>,
                <a href="https://mntn-dev.github.io/t.js/" target="_blank">t.js</a>,
                <a href="https://codepen.io/pbitos/pen/zypwVr" target="_blank">VHS Retro</a>,
                <a href="https://fontawesome.com/" target="_blank">Font Awesome</a></br>
                GitHub repository: <a href="https://github.com/pistachiostudio/pistachio-on-vss"
                    target="_blank">pistachio-on-vss</a></br>
                Hosted by: <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></br>
                <script type="text/javascript">
                    var today = new Date();
                    var y = today.getFullYear();
                    document.write("&copy; 2005-" + y + " Pistachio Studio");
                </script>
            </div>

        </div>
    </div>
</body>