/*
This is left top dot icon css.
You can create your original dot icons only css.
check & create your original one here
https://bcrikko.github.io/css-collection/tool/dotgen/index.html
*/

.cc_cat_dot_mforblue::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;

    width: 4px;
    height: 4px;
    background: transparent;

    box-shadow: 4px 4px 0 transparent,
        8px 4px 0 transparent,
        12px 4px 0 transparent,
        16px 4px 0 transparent,
        20px 4px 0 transparent,
        24px 4px 0 transparent,
        28px 4px 0 transparent,
        32px 4px 0 transparent,
        36px 4px 0 transparent,
        40px 4px 0 transparent,
        4px 8px 0 transparent,
        8px 8px 0 transparent,
        12px 8px 0 transparent,
        16px 8px 0 transparent,
        20px 8px 0 #2C527A,
        24px 8px 0 transparent,
        28px 8px 0 transparent,
        32px 8px 0 transparent,
        36px 8px 0 #2C527A,
        40px 8px 0 transparent,
        4px 12px 0 transparent,
        8px 12px 0 transparent,
        12px 12px 0 transparent,
        16px 12px 0 #2C527A,
        20px 12px 0 #2C527A,
        24px 12px 0 #2C527A,
        28px 12px 0 #2C527A,
        32px 12px 0 #2C527A,
        36px 12px 0 #2C527A,
        40px 12px 0 #2C527A,
        4px 16px 0 #2C527A,
        8px 16px 0 transparent,
        12px 16px 0 transparent,
        16px 16px 0 #2C527A,
        20px 16px 0 #FFFFFF,
        24px 16px 0 #FFFFFF,
        28px 16px 0 #2C527A,
        32px 16px 0 #FFFFFF,
        36px 16px 0 #FFFFFF,
        40px 16px 0 #2C527A,
        4px 20px 0 #2C527A,
        8px 20px 0 #2C527A,
        12px 20px 0 transparent,
        16px 20px 0 #2C527A,
        20px 20px 0 #FFFFFF,
        24px 20px 0 #2C527A,
        28px 20px 0 #2C527A,
        32px 20px 0 #FFFFFF,
        36px 20px 0 #2C527A,
        40px 20px 0 #2C527A,
        4px 24px 0 transparent,
        8px 24px 0 #2C527A,
        12px 24px 0 transparent,
        16px 24px 0 #2C527A,
        20px 24px 0 #FFFFFF,
        24px 24px 0 #FFFFFF,
        28px 24px 0 #2C527A,
        32px 24px 0 #FFFFFF,
        36px 24px 0 #FFFFFF,
        40px 24px 0 #2C527A,
        4px 28px 0 transparent,
        8px 28px 0 #2C527A,
        12px 28px 0 transparent,
        16px 28px 0 #2C527A,
        20px 28px 0 #2C527A,
        24px 28px 0 #2C527A,
        28px 28px 0 #2C527A,
        32px 28px 0 #2C527A,
        36px 28px 0 #2C527A,
        40px 28px 0 #2C527A,
        4px 32px 0 transparent,
        8px 32px 0 transparent,
        12px 32px 0 #2C527A,
        16px 32px 0 #2C527A,
        20px 32px 0 #2C527A,
        24px 32px 0 #2C527A,
        28px 32px 0 #2C527A,
        32px 32px 0 #2C527A,
        36px 32px 0 #2C527A,
        40px 32px 0 transparent,
        4px 36px 0 transparent,
        8px 36px 0 transparent,
        12px 36px 0 #2C527A,
        16px 36px 0 transparent,
        20px 36px 0 #2C527A,
        24px 36px 0 transparent,
        28px 36px 0 #2C527A,
        32px 36px 0 transparent,
        36px 36px 0 #2C527A,
        40px 36px 0 transparent,
        4px 40px 0 transparent,
        8px 40px 0 transparent,
        12px 40px 0 #2C527A,
        16px 40px 0 transparent,
        20px 40px 0 #2C527A,
        24px 40px 0 transparent,
        28px 40px 0 #2C527A,
        32px 40px 0 transparent,
        36px 40px 0 #2C527A,
        40px 40px 0 transparent;
}