/*
This is left top dot icon css.
You can create your original dot icons only css.
check & create your original one here
https://bcrikko.github.io/css-collection/tool/dotgen/index.html
*/

.tree_dot::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 43px;

  width: 4px;
  height: 4px;
  background: transparent;

  box-shadow: 4px 4px 0 transparent, 8px 4px 0 transparent,
    12px 4px 0 transparent, 16px 4px 0 transparent, 20px 4px 0 transparent,
    24px 4px 0 rgb(255, 238, 0), 28px 4px 0 transparent, 32px 4px 0 transparent,
    36px 4px 0 transparent, 40px 4px 0 transparent, 44px 4px 0 transparent,
    48px 4px 0 transparent, 4px 8px 0 transparent, 8px 8px 0 transparent,
    12px 8px 0 transparent, 16px 8px 0 transparent, 20px 8px 0 transparent,
    24px 8px 0 rgb(5, 107, 47), 28px 8px 0 transparent, 32px 8px 0 transparent,
    36px 8px 0 transparent, 40px 8px 0 transparent, 44px 8px 0 transparent,
    48px 8px 0 transparent, 4px 12px 0 transparent, 8px 12px 0 transparent,
    12px 12px 0 transparent, 16px 12px 0 transparent,
    20px 12px 0 rgb(5, 107, 47), 24px 12px 0 rgb(5, 107, 47),
    28px 12px 0 rgb(5, 107, 47), 32px 12px 0 transparent,
    36px 12px 0 transparent, 40px 12px 0 transparent, 44px 12px 0 transparent,
    48px 12px 0 transparent, 4px 16px 0 transparent, 8px 16px 0 transparent,
    12px 16px 0 rgb(5, 107, 47), 16px 16px 0 rgb(5, 107, 47),
    20px 16px 0 rgb(5, 107, 47), 24px 16px 0 rgb(5, 107, 47),
    28px 16px 0 rgb(5, 107, 47), 32px 16px 0 rgb(5, 107, 47),
    36px 16px 0 rgb(5, 107, 47), 40px 16px 0 transparent,
    44px 16px 0 transparent, 48px 16px 0 transparent, 4px 20px 0 transparent,
    8px 20px 0 transparent, 12px 20px 0 transparent, 16px 20px 0 rgb(5, 107, 47),
    20px 20px 0 rgb(171, 28, 28), 24px 20px 0 rgb(5, 107, 47),
    28px 20px 0 rgb(5, 107, 47), 32px 20px 0 rgb(5, 107, 47),
    36px 20px 0 transparent, 40px 20px 0 transparent, 44px 20px 0 transparent,
    48px 20px 0 transparent, 4px 24px 0 transparent, 8px 24px 0 transparent,
    12px 24px 0 transparent, 16px 24px 0 rgb(5, 107, 47),
    20px 24px 0 rgb(5, 107, 47), 24px 24px 0 rgb(5, 107, 47),
    28px 24px 0 rgb(5, 107, 47), 32px 24px 0 rgb(5, 107, 47),
    36px 24px 0 rgb(5, 107, 47), 40px 24px 0 transparent,
    44px 24px 0 transparent, 48px 24px 0 transparent, 4px 28px 0 transparent,
    8px 28px 0 transparent, 12px 28px 0 rgb(5, 107, 47),
    16px 28px 0 rgb(5, 107, 47), 20px 28px 0 rgb(5, 107, 47),
    24px 28px 0 rgb(171, 28, 28), 28px 28px 0 rgb(5, 107, 47),
    32px 28px 0 rgb(5, 107, 47), 36px 28px 0 rgb(5, 107, 47),
    40px 28px 0 rgb(5, 107, 47), 44px 28px 0 transparent,
    48px 28px 0 transparent, 4px 32px 0 transparent, 8px 32px 0 rgb(5, 107, 47),
    12px 32px 0 rgb(5, 107, 47), 16px 32px 0 rgb(5, 107, 47),
    20px 32px 0 rgb(5, 107, 47), 24px 32px 0 rgb(5, 107, 47),
    28px 32px 0 rgb(5, 107, 47), 32px 32px 0 rgb(5, 107, 47),
    36px 32px 0 rgb(171, 28, 28), 40px 32px 0 rgb(5, 107, 47),
    44px 32px 0 rgb(5, 107, 47), 48px 32px 0 transparent, 4px 36px 0 transparent,
    8px 36px 0 transparent, 12px 36px 0 transparent, 16px 36px 0 transparent,
    20px 36px 0 transparent, 24px 36px 0 rgb(171, 95, 28),
    28px 36px 0 transparent, 32px 36px 0 transparent, 36px 36px 0 transparent,
    40px 36px 0 transparent, 44px 36px 0 transparent, 48px 36px 0 transparent,
    4px 40px 0 transparent, 8px 40px 0 transparent, 12px 40px 0 transparent,
    16px 40px 0 transparent, 20px 40px 0 transparent,
    24px 40px 0 rgb(171, 95, 28), 28px 40px 0 transparent,
    32px 40px 0 transparent, 36px 40px 0 transparent, 40px 40px 0 transparent,
    44px 40px 0 transparent, 48px 40px 0 transparent, 4px 44px 0 transparent,
    8px 44px 0 transparent, 12px 44px 0 transparent, 16px 44px 0 transparent,
    20px 44px 0 transparent, 24px 44px 0 rgb(171, 95, 28),
    28px 44px 0 transparent, 32px 44px 0 transparent, 36px 44px 0 transparent,
    40px 44px 0 transparent, 44px 44px 0 transparent, 48px 44px 0 transparent,
    4px 48px 0 transparent, 8px 48px 0 transparent, 12px 48px 0 transparent,
    16px 48px 0 transparent, 20px 48px 0 transparent,
    24px 48px 0 rgb(171, 95, 28), 28px 48px 0 transparent,
    32px 48px 0 transparent, 36px 48px 0 transparent, 40px 48px 0 transparent,
    44px 48px 0 transparent, 48px 48px 0 transparent;
}
